@model Pizza

<div class="container w-100 d-flex justify-content-center my-5">
    <form action="@Url.Action("Create", "Pizzas")" method="post" class="w-50">
    @*<form asp-controller="Pizzas" asp-action="Create" method="post">*@

        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Name" class="d-block w-100" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Description" class="d-block w-100" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="Price" class="d-block w-100" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="mb-4">
            <strong>Immagine:</strong>
            <input asp-for="Img" class="d-block w-100" />
            <span asp-validation-for="Img" class="text-danger"></span>
        </div>

        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva" />
        </div>
    </form>
</div>