@model Pizza

<div class="d-flex gap-3 my-4"> 
    <img src="@Model.Img">  

    <div>
        <h2>@Model.Name</h2>
        <p>@Model.Description</p>
        <p>@Model.Price euro</p>
    </div>
</div>